* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  touch-action: pan-y;
  touch-action: pan-x;
}

html,
body {
  max-width: 100vw;
  height: 100%;
  overflow-x: hidden;
}

html {
  min-height: calc(100% + env(safe-area-inset-top));
  padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}

@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GmarketSansBold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
  font-weight: bold;
  font-style: bold;
}

.background {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  flex-direction: column;
}

.Mainbtn {
  width: 30vw;
  height: 30vw;
  font-size: 25vw;
  background-color: rgba(255, 255, 255, 0);
  border:  none;
  transition: 0.3s;
  user-select: none;
  border-radius: 50%;
}

.Mainbtn:active {
  transform: scale(0.8);
}

.title {
  font-weight: bold;
  font-size: 4vw;
  margin-bottom: 20px;
  user-select: none;
}

.cnt {
  font-weight: normal;
  font-size: 5vw;
  margin-top: 20px;
  user-select: none;
}

.cxt {
  display: flex;
  flex-wrap: wrap;
  width: 1000px;
  max-height: 70%;
  margin: 20px;
  justify-content: center;
  overflow: scroll;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(243, 243, 243);
  min-width: 100px;
  min-height: 50px;
  margin: 15px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 0 5px black;
}

.stuName {
  font-size: 23px;
}

.stugc {
  font-size: 15px;
}

.card.green {
  background-color: #68f286;
}
.card.red {
  background-color: #ff6554;
}

.backbtn {
  width: 30px;
  height: 20px;
  margin: 20px;
  
}

.delete {
  display: inline-block;
  border-radius: 10px;
  width: 80%;
  height: 20px;
  border: none;
  background-color: #ff6554;
  color: white;
  margin-top: auto;
  bottom: 0;
  transition: 0.1s;
}
.delete:hover {
  transform: scale(1.1);
}
.delete:active {
  transform: scale(0.9);
}

.addform {
  margin: 50px;
  transform: scale(1.5);
}

.submit {
  height: 20px;
  margin: 20px;
  width: 80%;
}